*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:url(image\ copy.png);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.wrapper{
    display:flex;
    gap:30px;
}

.container{
    width:380px;
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

span{
    color:#007bff;
}

label{
    display:block;
    margin:10px 0 5px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

input:focus{
    outline:none;
    border-color:#007bff;
}

.btns{
    display:flex;
    gap:10px;
    margin-top:20px;
}

button{
    flex:1;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#007bff;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0056b3;
}

/* Hidden Card */

.card{
    display:none;
    width:350px;
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.info{
    margin-top:20px;
}

.info p{
    margin:12px 0;
    padding:10px;
    background:#f2f2f2;
    border-radius:8px;
    color:#333;
}